<h2 class="mat-display-1">All Expenses</h2>

<mat-card *ngFor="let expense of expenses" [class.food]="expense.category.toUpperCase() === 'FOOD'"
  [class.bills]="expense.category.toUpperCase() === 'BILLS'"
  [class.shopping]="expense.category.toUpperCase() === 'SHOPPING'"
  [class.fuel]="expense.category.toUpperCase() === 'FUEL'" [class.cash]="expense.category.toUpperCase() === 'CASH'">
  <mat-card-title>{{expense.title}}</mat-card-title>
  <mat-card-content>
    <p>{{expense.amount | currency: 'INR': true }}</p>
    <p>Category: {{expense.category}}</p>
  </mat-card-content>
  <mat-card-actions style="text-align: right">
    <button mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="deleteExpense(expense)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>