<div class="analyze-container">
  <mat-card class="chart-view">
    <mat-card-title>Expenses by Category</mat-card-title>
    <mat-card-content>
      <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
        [options]="pieChartOptions" [colors]="pieChartColors" [legend]="pieChartLegend"
        (chartClick)="chartClicked($event)">
      </canvas>
    </mat-card-content>
  </mat-card>

  <mat-card style="margin-top: 2rem;" *ngIf="expensesOfClickedCategory">
    <app-expense-view [expenses]="expensesOfClickedCategory"></app-expense-view>
  </mat-card>
</div>