<mat-card>
  <mat-card-title>
    <h1 class="mat-display-2">About Cosmos</h1>
  </mat-card-title>
  <mat-card-content>
    <div class="text-container">
      <h2 class="mat-h2">What is Cosmos?</h2>
      <p>
        Cosmos is an expense manager application built using Angular 6, Node.JS and MongoDB. It was developed in an
        extremely short time span of 2 days. This was built in order to showcase the versatility of Angular in creating
        engaging UIs.
      </p>
      <h2 class="mat-h2">Developers</h2>
      <p>
        Cosmos is a single-person project made by <a href="https://github.com/saketk21" _target="blank"
          style="text-decoration: none; color: dodgerblue;">saketk21</a> (in 2 days), which is a self-brag, but a great
        feat!
      </p>
      <h2 class="mat-h2">Why Angular?</h2>
      <p>
        I chose Angular mainly because I was made to, as this is a demo project I created to showcase my knowledge of
        Angular 6 before I work on company codebase. However, i am beginning to like Angular, because we can easily
        re-use Components. As an example of this, the <code>expense-view-component</code> has been re-used on the Manage
        as well as Analyze pages.
      </p>
    </div>
    <img src="../../assets/logo.png">
  </mat-card-content>
</mat-card>